@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');

:root {
    --first-color: #fff;
    --second-color: #3b434c;
    --buttons-color: #c0392b;
    --buttons-color-hover: #e74c3c;
    --button-color: #27ae60;
    --button-color-hover: #2ecc71;
    --awesome-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*var(--first-color)*/
/*var(--second-color)*/
/*var(--awesome-shadow)*/
/*var(--buttons-color)*/
/*var(--buttons-color-hover)*/
/*var(--button-color)*/
/*var(--button-color-hover)*/


body {
    font-family: 'Roboto', sans-serif;
    color: var(--second-color);
}

h1,
p,
h2,
h3 {
    margin: 0;
}

/*one*/

.hero {
    background-image: url(../images/bg-black-mac.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0;
    background-color: rgba(0, 0, 0, .9);
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 99;
    overflow: hidden;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.left-menu li {
    margin: 30px 0 0 0;
}

.left-menu li:first-of-type {
    margin-top: 0;
}


.left-menu ul li a {
    font-size: 24px;
    color: var(--first-color);
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    display: block;
}

.left-menu ul li a:hover {
    color: var(--buttons-color-hover)
}

.left-menu hr {
    width: 50%;
    margin: 0 auto;
}

.open-bars {
    position: fixed;
    top: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 99;
    font-size: 42px;
    color: var(--buttons-color);
}

.exit {
    position: absolute;
    font-size: 42px;
    color: var(--first-color);
    cursor: pointer;
    top: 25px;
    right: 25px;

}

.btn-top {
    display: none;
    text-decoration: none;
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    color: var(--buttons-color);
    cursor: pointer;
    border: 2px solid var(--buttons-color);
    border-radius: 5px;
    font-size: 32px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-align: center;
    line-height: 38px;
    
}

.btn-top:visited {
    color: var(--buttons-color);

}
.btn-top:focus {
    color: var(--buttons-color);

}

.btn-top:hover {
    color: var(--buttons-color);

}

header {
    background: rgba(0, 0, 0, .4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
}

.name {
    margin-bottom: 26px;
}

.name h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.hero-content {
    color: var(--first-color);
    text-align: center;
}

.hero-content p {
    font-size: 25px;
    text-transform: capitalize;
}

/*two*/

/*modal*/

.my-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
    -webkit-animation-name: fadeInBg;
    animation-name: fadeInBg;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.my-modal-content {
    background-color: #27ae60;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: var(--first-color);
    padding: 20px;
    width: 100%;
    line-height: 30px;
    -webkit-animation-name: slideInContent;
    animation-name: slideInContent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.my-modal-content h1,
.my-modal-content h3 {
    padding-bottom: 10px;
}

.my-modal-content h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.my-modal-content h3 {
    font-size: 20px;
}

.my-modal-content p {
    font-size: 18px;
}

.my-modal-content a {
    color: var(--first-color);
    text-decoration: none;
}

.my-modal-content .fa {
    padding-right: 10px;
}

.closeBtn {
    color: var(--first-color);
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.closeBtn:hover,
closeBtn:focus {
    text-decoration: none;
}

@-webkit-keyframes slideInContent {
    from {
        bottom: 1000px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideInContent {
    from {
        bottom: 1000px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeInBg {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeInBg {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.about-me {
    padding-top: 100px;
    padding-bottom: 100px;
}

.my-photo {
    padding: 30px;
    text-align: center;
}

.my-photo img {
    max-width: 80%;
    border-radius: 50%;
    height: auto;
}

.about-me-description h2 {
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
}

.about-me-description p {
    padding-top: 20px;
    font-size: 16px;
    line-height: 28px;
}

.about-me-description p:last-of-type {
    padding-bottom: 40px;
}

.main-buttons {
    text-align: center;
}

.main-button {
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 40px;
    background-color: var(--buttons-color);
    padding: 0;
    font-size: 16px;
    color: var(--first-color);
    font-weight: 500;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: inline-block;
    margin-right: 10px;
    line-height: 40px;
    text-decoration: none;
}


.main-button:hover {
    background-color: #e74c3c;
    -webkit-box-shadow: var(--awesome-shadow);
    box-shadow: var(--awesome-shadow);
    text-decoration: none;
    color: var(--first-color);
}

.main-button:visited {
    -webkit-box-shadow: var(--awesome-shadow);
    box-shadow: var(--awesome-shadow);
/*    text-decoration: none;*/
    color: var(--first-color);
}

.main-button:focus {
    text-decoration: none;
    color: var(--first-color);

} 


.contact-button {
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: var(--button-color);
    padding: 0;
    font-size: 16px;
    color: var(--first-color);
    font-weight: 500;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-align: center;
    display: block;
    margin: 0 auto;

}

.contact-button:hover {
    background-color: var(--button-color-hover);
    -webkit-box-shadow: var(--awesome-shadow);
    box-shadow: var(--awesome-shadow);
}

/*three*/

.technologies {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ecf0f1;

}

.technologies h1,
.portfolio h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.technologies h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.tech-container {
    text-align: center;
    border-radius: 10px;
    font-size: 60px;
    color: #000;
    margin: 20px auto;
    cursor: pointer;
    border: 1px solid var(--second-color);
    padding: 5px;
    width: 120px;
    height: 120px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
}

.tech-container h3 {
    font-size: 16px;
}


/*
.tech-container:hover {
box-shadow: var(--awesome-shadow);
    border: none;
}
*/

/*
.tech-logo-html5,
.tech-logo-css3,
.tech-logo-javascript,
.tech-logo-sass,
.tech-logo-bootstrap,
.tech-logo-jquery,
.tech-logo-git,
.tech-logo-grunt,
.tech-logo-npm,
.tech-logo-angular,
.tech-logo-nodejs,
.tech-logo-reactjs {
    transition: .2s ease;
}
*/

/*
.tech-logo-html5:hover {
    color: #E54C21;
}

.tech-logo-css3:hover {
    color: #1758A7;
}

.tech-logo-javascript:hover {
    color: #F0DB4F;
}

.tech-logo-sass:hover {
    color: #CD679A;

}

.tech-logo-bootstrap:hover {
    color: #563D7C;
}

.tech-logo-jquery:hover {
    color: #1169AE;
}

.tech-logo-git:hover {
    color: #F34F29;
}

.tech-logo-grunt:hover {
    color: #FBA919;
}

.tech-logo-npm:hover {
    color: #CB3837;
}

.tech-logo-angular:hover {
    color: #C3002F;
}

.tech-logo-nodejs:hover {
    color: #689F63;
}

.tech-logo-reactjs:hover {
    color: #00D8FF;
}
*/

.tech-logo-html5 {
    color: #E54C21;
}

.tech-logo-css3 {
    color: #1758A7;
}

.tech-logo-javascript {
    color: #F0DB4F;
}

.tech-logo-sass {
    color: #CD679A;
}

.tech-logo-bootstrap {
    color: #563D7C;
}

.tech-logo-jquery {
    color: #1169AE;
}

.tech-logo-git {
    color: #F34F29;
}

.tech-logo-grunt {
    color: #FBA919;
}

.tech-logo-npm {
    color: #CB3837;
}

.tech-logo-angular {
    color: #C3002F;
}

.tech-logo-nodejs {
    color: #689F63;
}

.tech-logo-reactjs {
    color: #00D8FF;
}

.icon-grunt,
.icon-nodejs,
.icon-css3,
.icon-javascript,
.icon-html5 {
    margin-left: 10px;
}

.icon-sass {
    margin-left: -20px;
}

/*four*/

.portfolio {
    padding: 50px 0;
}

.portfolio h1 {
    padding-bottom: 40px;
}

.my-work-container {
    position: relative;
    margin-bottom: 30px;
    -webkit-box-shadow: var(--awesome-shadow);
    box-shadow: var(--awesome-shadow);
}

.my-work {
    max-width: 100%;
    overflow: hidden;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .8s ease;
    transition: .8s ease;
}

.links {
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.my-work-container:hover .overlay {
    background-color: rgba(0, 0, 0, .6);
    opacity: 1;
}

.links .fa {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: var(--first-color);
    background-color: var(--buttons-color);
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.links .fa:hover {
    color: var(--buttons-color);
    background-color: var(--first-color);
}

.links .fa-desktop {
    margin-right: 30px;
}

.links .fa-code {
    margin-left: 30px
}

.links p {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 50px;
}

/*footer*/

footer {
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 30px 0;
    text-align: center;
}

footer p {
    line-height: 50px;
    padding: 10px 0;
}

.socials {
    padding: 10px 0;
}

.socials .fa {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.fa-github {
    color: #24292E;
    background-color: var(--first-color);
}

.fa-github:hover {
    color: var(--first-color);
    background-color: #24292E;
    /*        transform: scale(1.1);*/
}

/*
.fa-facebook {
    color: #3B5CA0;
    background-color: var(--first-color);
}

.fa-facebook:hover {
    background-color: #3B5CA0;
    color: var(--first-color);
    transform: scale(1.1);
}
*/

.fa-linkedin {
    color: #0077B5;
    background-color: var(--first-color);
}

.fa-linkedin:hover {
    background-color: #0077B5;
    color: var(--first-color);
    /*    transform: scale(1.1);*/
}

/*
.fa-free-code-camp {
    color: #006400;
    background-color: var(--first-color);

}

.fa-free-code-camp:hover {
    color: var(--first-color);
    background-color: #006400;
    transform: scale(1.1);
}
*/

.socials ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.socials ul li {
    display: inline-block;
    margin-right: 10px;
}

.socials ul li:last-child {
    margin-right: 0;
}

/*media queries*/

@media screen and (max-width: 767px) {
    /*first*/
    .name h1 {
        font-size: 48px;
    }

    .hero-content p {
        font-size: 16px;
    }

    /*second*/
    .about-me {
        padding-top: 10px;
        padding-bottom: 50px;

    }
    .my-photo {
        padding-bottom: 30px;
    }

    .my-photo img {
        max-width: 40%;
    }

    .about-me-description {
        text-align: center;
        padding-top: 40px;
    }

    .main-button {
        margin: 10px;
    }

    .contact {
        padding-bottom: 30px;
    }

    /*three*/
    .technologies h1,
    .portfolio h1 {
        font-size: 28px;
    }

    .technologies h2 {
        font-size: 22px;
    }

    /*four*/
    .my-work-container {
        margin-bottom: 10px;
    }

    .overlay {
        opacity: 1;
        background-color: rgba(0, 0, 0, .7);
    }

    .links p {
        display: none;
    }

    .links .fa {
        width: 140px;
        height: 40px;
        font-size: 30px;
        line-height: 40px;
        color: var(--first-color);
        background-color: var(--buttons-color);
    }

    .links .fa-desktop {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .links .fa-code {
        margin-left: 0px;
    }

    .links .fa:hover {
        color: var(--first-color);
        background-color: var(--buttons-color);
    }
    /*footer*/
    footer p {
        padding: 20px
    }

    .socials {
        padding: 20px 0;
    }

    .fa-github {
        color: var(--first-color);
        background-color: #24292E;
    }

    /*
    .fa-facebook {
        background-color: #3B5CA0;
        color: var(--first-color);
    }
*/
    .fa-linkedin {
        background-color: #0077B5;
        color: var(--first-color);
    }

    /*
    .fa-free-code-camp {
        color: var(--first-color);
        background-color: #006400;
    }
*/
}
