@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

h1,
p,
h2,
h3 {
    margin: 0;
}

/*one*/

.hero {
    background-image: url(../images/bg-black-mac.jpeg);
    /*    height: 1022px;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.left-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    background-color: #000;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.left-menu ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.left-menu li {
    margin: 30px auto;
}

.left-menu ul li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: .5s ease;
}

.left-menu ul li a:hover {
    color: #e74c3c;
}

.left-menu hr {
    width: 50%;
}

#nav-icon {
    position: fixed;
    top: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 99;
}

#nav-icon span {
    font-size: 42px;
    color: #c0392b;
}

.exit {
    position: absolute;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.left-exit {
    top: 11px;
    right: 30px;
}

.btn-top {
    display: none;
    opacity: .5;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #c0392b;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 30px;
    line-height: 30px;
}

.btn-top:hover {
    background-color: #e74c3c;
    opacity: 1;
}

header {
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name {
    display: inline-block;
    border-bottom: 3px solid;
    border-top: 3px solid;
    margin-bottom: 26px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.name h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 4px #fff;
}

.hero-content {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.hero-content p {
    font-size: 25px;
}

/*two*/

.about-me {
    padding-top: 100px;
    padding-bottom: 100px;
}

.my-photo {
    padding: 30px 0;
    text-align: center;
}

.my-photo img {
    max-width: 100%;
    border-radius: 15px;
    height: auto;
}

.about-me-description {
    /*    padding-top: 20px;*/
}

.about-me-description span {
    font-weight: 700;
}

.about-me-description h2 {
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
}

.about-me-description p {
    padding-top: 20px;
    font-size: 16px;
    line-height: 28px;
}

.about-me-description p:last-of-type {
    padding-bottom: 40px;
}

.main-button {
    border-radius: 3px;
    border: none;
    width: 150px;
    background-color: #c0392b;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: .3s ease-in-out;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.main-button:hover {
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.contact {
    text-align: center;
}

.contact .fa {
    padding-right: 10px;
}

.contact-content {
    display: none;
}

.contact-content h1 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.contact-content h2 {
    font-size: 18px;
    padding-bottom: 10px;
}

.contact-button {
    border-radius: 3px;
    border: none;
    width: 150px;
    background-color: #27ae60;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: .3s ease-in-out;
    display: inline-block;
    text-align: center;
}

.contact-button:hover {
    background-color: #2ecc71;
}

/*three*/

.technologies {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ecf0f1;

}

.technologies h1,
.portfolio h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.technologies h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.tech-container {
    text-align: center;
    border-radius: 10px;
    font-size: 60px;
    color: #000;
    margin: 20px auto;
    cursor: pointer;
    border: 1px solid #000;
    padding: 5px;
    width: 120px;
    height: 120px;
    transition: .3s ease-in;
}

.tech-container h3 {
    font-size: 16px;
}


/*
.tech-container:hover {
box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: none;
}
*/

/*
.tech-logo-html5,
.tech-logo-css3,
.tech-logo-javascript,
.tech-logo-sass,
.tech-logo-bootstrap,
.tech-logo-jquery,
.tech-logo-git,
.tech-logo-grunt,
.tech-logo-npm,
.tech-logo-angular,
.tech-logo-nodejs,
.tech-logo-reactjs {
    transition: .2s ease;
}
*/

/*
.tech-logo-html5:hover {
    color: #E54C21;
}

.tech-logo-css3:hover {
    color: #1758A7;
}

.tech-logo-javascript:hover {
    color: #F0DB4F;
}

.tech-logo-sass:hover {
    color: #CD679A;

}

.tech-logo-bootstrap:hover {
    color: #563D7C;
}

.tech-logo-jquery:hover {
    color: #1169AE;
}

.tech-logo-git:hover {
    color: #F34F29;
}

.tech-logo-grunt:hover {
    color: #FBA919;
}

.tech-logo-npm:hover {
    color: #CB3837;
}

.tech-logo-angular:hover {
    color: #C3002F;
}

.tech-logo-nodejs:hover {
    color: #689F63;
}

.tech-logo-reactjs:hover {
    color: #00D8FF;
}
*/

.tech-logo-html5 {
    color: #E54C21;
}

.tech-logo-css3 {
    color: #1758A7;
}

.tech-logo-javascript {
    color: #F0DB4F;
}

.tech-logo-sass {
    color: #CD679A;
}

.tech-logo-bootstrap {
    color: #563D7C;
}

.tech-logo-jquery {
    color: #1169AE;
}

.tech-logo-git {
    color: #F34F29;
}

.tech-logo-grunt {
    color: #FBA919;
}

.tech-logo-npm {
    color: #CB3837;
}

.tech-logo-angular {
    color: #C3002F;
}

.tech-logo-nodejs {
    color: #689F63;
}

.tech-logo-reactjs {
    color: #00D8FF;
}

.icon-grunt,
.icon-nodejs,
.icon-css3,
.icon-javascript,
.icon-html5 {
    margin-left: 10px;
}

.icon-sass {
    margin-left: -20px;
}

/*four*/

.portfolio {
    margin: 50px 0;
}

.portfolio h1 {
    padding-bottom: 40px;
}

.my-work-container {
    position: relative;
    margin-bottom: 30px;
}

.my-work {
    max-width: 100%;
    overflow: hidden;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
}

.links {
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-work-container:hover .overlay {
    background-color: rgba(0, 0, 0, .6);
    opacity: 1;
}

.links .fa {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    background-color: #c0392b;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: .3s ease;
}

.links .fa:hover {
    color: #c0392b;
    background-color: #fff;
}

.links .fa-desktop {
    margin-right: 30px;
}

.links .fa-code {
    margin-left: 30px
}

.links p {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 50px;
}

/*footer*/

footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer p {
    line-height: 50px;
    padding: 10px 0;
}

.socials {
    padding: 10px 0;
}

.socials .fa {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    transition: .5s ease;
}

.fa-github {
    color: #24292E;
    background-color: #fff;
}

.fa-github:hover {
    color: #fff;
    background-color: #24292E;
    /*        transform: scale(1.1);*/
}

.fa-facebook {
    color: #3B5CA0;
    background-color: #fff;
}

.fa-facebook:hover {
    background-color: #3B5CA0;
    color: #fff;
    /*    transform: scale(1.1);*/
}

.fa-linkedin {
    color: #0077B5;
    background-color: #fff;
}

.fa-linkedin:hover {
    background-color: #0077B5;
    color: #fff;
    /*    transform: scale(1.1);*/
}

.fa-free-code-camp {
    color: #006400;
    background-color: #fff;

}

.fa-free-code-camp:hover {
    color: #fff;
    background-color: #006400;
    /*    transform: scale(1.1);*/
}

.socials ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.socials ul li {
    display: inline-block;
    margin-right: 10px;
}

.socials ul li:last-child {
    margin-right: 0;
}

/*media queries*/

@media screen and (max-width: 767px) {
    /*first*/
    .name h1 {
        font-size: 30px;
    }

    .hero-content p {
        font-size: 16px;
    }

    /*second*/
    .about-me {
        padding-top: 10px;
        padding-bottom: 50px;

    }
    .my-photo {
        padding-bottom: 30px;
    }

    .about-me-description {
        text-align: center;
    }

    .main-button {
        margin: 10px;
    }

    .contact {
        padding-bottom: 30px;
    }

    /*three*/
    .technologies h1,
    .portfolio h1 {
        font-size: 28px;
    }

    .technologies h2 {
        font-size: 22px;
    }

    /*four*/
    .my-work-container {
        margin-bottom: 10px;
    }

    .overlay {
        opacity: 1;
        background-color: rgba(0, 0, 0, .6);
    }

    .links p {
        display: none;
    }

    .links .fa {
        width: 140px;
        height: 40px;
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        background-color: #c0392b;
    }

    .links .fa-desktop {
        margin-right: 0px;
        margin-bottom: 20px;
    }


    .links .fa-code {
        margin-left: 0px;
    }

    .links .fa:hover {
        color: #fff;
        background-color: #c0392b;
    }
    /*footer*/
    footer p {
        padding: 20px
    }

    .socials {
        padding: 20px 0;
    }

    .fa-github {
        color: #fff;
        background-color: #24292E;
    }

    .fa-facebook {
        background-color: #3B5CA0;
        color: #fff;
    }


    .fa-linkedin {
        background-color: #0077B5;
        color: #fff;
    }

    .fa-free-code-camp {
        color: #fff;
        background-color: #006400;
    }

}
